<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/addImage.css" />
    <title>Add image</title>
  </head>
  <body>
    <nav>
      <h2><img src="/images/gallery.png" alt="" /> Gallery App</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Add</a></li>
      </ul>
    </nav>
    <main>
      <div class="add-form">
        <form action="/new" method="POST" th:object="${image}">
            <div class="input-container">
              <label for="name"> Name</label>
              <input type="text" th:field="*{name}" id="name" required/>
            </div>
          <div class="input-container">
            <label for="url"> URL</label>
            <input type="url" th:field="*{url}" id="url" onblur="checkImage(this.value)" required/>
          </div>
            <div class="input-container">
              <label for="description"> Description</label>
              <textarea th:field="*{description}" id="description" cols="20" rows="5"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
        <img id="image" src="https://icon-library.com/images/image-placeholder-icon/image-placeholder-icon-16.jpg" alt="">
      </div>
    </main>
    <footer>
      <div class="personal-info">
        <p>By Mohammad Daanish Shaikh</p>
        <a href="https://github.com/DaanishShk/Gallery-App" target="_blank">
          <img src="/images/GitHub-Mark-120px-plus.png" alt="" />
          GitHub</a
        >
      </div>
      <div class="flaticon">
        Icons made by
        <a
          href="https://www.flaticon.com/authors/fauzidea"
          title="FauzIDEA"
          target="_blank"
          >FauzIDEA</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"
          >www.flaticon.com</a
        >
      </div>
    </footer>
  <script src="js/imagePopulate.js"></script>
  </body>
</html>
