<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/addImage.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/details.css" />
    <title>Image Details</title>
  </head>
  <body>
    <nav>
      <h2><img src="/images/gallery.png" alt="" /> Gallery App</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Add</a></li>
      </ul>
    </nav>

    <main>
      <div class="image-container">
        <img
          id="image"
          th:src="${image.url}"
          th:alt="${image.description}"
        />
        <p>Image description: <span th:text="${image.description}">Description here</span></p>
        <p>
          Image url:
          <a
            th:href="${image.url}" th:text="${image.url}"
            >image url here</a
          >
        </p>
      </div>

      <div class="navigation-buttons">
        <form th:action="'/' + ${image.id} + '/edit'" method="GET">
          <button type="submit">Edit</button>
        </form>
        <form th:action="'/delete/' + ${image.id}" method="POST">
          <button>Delete</button>
        </form>

      </div>
    </main>
    <footer>
      <div class="personal-info">
        <p>By Mohammad Daanish Shaikh</p>
        <a href="https://github.com/DaanishShk/Gallery-App" target="_blank">
          <img src="../static/images/GitHub-Mark-120px-plus.png" alt="" />
          GitHub</a
        >
      </div>
    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>
