<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
        <h2><img src="../static/images/gallery.png" alt="">
            Gallery App</h2>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Add</a></li>
            <li><a href="">Modify</a></li>
        </ul>
    </nav>
    <header>
        <img src="../static/images/photo-gallery.png" alt="">
      <h1>Welcome!</h1>
      <p>This application allows you to view, add and modify images. 
        <br>Scroll down to start exploring</p>
    </header>
    <main>
        <div class="cards">
            <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
      <a href="#" class="image-link">
        <div class="image-card">
        <img
          src="https://image.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
          alt=""
        />
        <p>Image Name</p>
      </div>
      </a>
        </div>
      
      
      <div class="navigation-buttons">
          <button>Prev &lt;</button>
          <button>&gt; Next </button>
      </div>
      
    </main>
    <footer>
      <p>By Mohammad Daanish Shaikh</p>
      <a href="https://github.com/DaanishShk/Gallery-App">GitHub</a>
    </footer>
  </body>
</html>

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/fauzidea" title="FauzIDEA">FauzIDEA</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
