
main img {
    display: inline-block;
    width: max-content;
    height: max-content;
    object-fit: contain;
}

.add-form {
    display: flex;
    align-items: center;
    overflow: hidden;
}

form {
    font-family: cursive;
    padding: 20px;
    width: 310px;
}

.add-form img {
    width: calc(100% - 310px);
    border: 1px solid black;
    border-radius: 2px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

input, textarea {
    width: 60%;
}

input {
    font-size: 13px;
}

textarea {
    resize: none;
    border-radius: 3px;
    border: none;
}

