main img {
    width: 100%;
    height: auto;
}

p {
    margin: 30px;
}

span,
main a {
    color: black;
}

form {
    display: inline-block;
    width: fit-content;
}

.details-p, .details-p a {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

