<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/css/addImage.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"/>
    <link
            href="/images/favicon.ico"
            rel="shortcut icon"
            type="image/x-icon"
    />
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/css/details.css" rel="stylesheet"/>
    <title>Image Details</title>
</head>
<body>
<nav>
    <h2><img alt="logo" src="/images/gallery.png"/> Gallery App</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Add</a></li>
    </ul>
</nav>

<main>
    <div class="image-container">
        <img
                id="image"
                th:alt="${image.description}"
                th:src="${image.url}"
        />
        <p class="pink details-p">Image description: <span th:text="${image.description}">Description here</span></p>
        <p class="pink details-p">
            Image url:
            <a
                    th:href="${image.url}" th:text="${image.url}"
            >image url here</a
            >
        </p>
    </div>

    <div class="navigation-buttons">
        <form method="GET" th:action="'/' + ${image.id} + '/edit'">
            <button type="submit">Edit</button>
        </form>
        <form method="POST" th:action="'/delete/' + ${image.id}">
            <button>Delete</button>
        </form>

    </div>
</main>
<footer>
    <div class="personal-info">
        <p>By Mohammad Daanish Shaikh</p>
        <a href="https://github.com/DaanishShk/Gallery-App" target="_blank">
            <img alt="github" src="/images/GitHub-Mark-120px-plus.png"/>
            GitHub</a
        >
    </div>
</footer>
</body>
</html>
